.productOuter {
  margin-top: 87px;
  background-color: rgb(216, 216, 216);
  padding: 40px 0 30px 0;
}

.productOuter > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
}
.productOuter > div:nth-child(2) label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.productOuter > div:nth-child(2) input,
.productOuter > div:nth-child(2) select {
  display: block;
  width: 25vw;
  color: rgb(0, 0, 0);
  background-color: rgb(185, 185, 185);
  border: none;
  padding: 5px;
  cursor: pointer;
  accent-color: rgb(70, 70, 70);
  font-size: 0.9rem;
}
.productOuter > div:nth-child(2) select:active {
  border-bottom: 1ps solid rgb(3, 3, 2);
}
.productOuter > div:nth-child(2) select:focus {
  outline: none;
}
