.footerOuter {
  padding: 30px 0;
  text-align: center;
  background-color: #242424;
  font-family: Arial, Helvetica, sans-serif;
}
.footerOuter div:first-child a {
  text-decoration: none;
  color: #3b3b3b;
  background-color: #b3936f;
  border: 3px solid #b3936f;
  padding: 7px 12px;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.footerOuter div:first-child a:hover {
  background-color: transparent;
  border: 3px solid #b3936f;
  color: #b69773;
  transition: 0.7s ease;
}
.footerOuter div:nth-child(2) p {
  color: #e6e4e4;
  padding: 20px 0 0 0;
}
.footerOuter div:nth-child(3) p {
  color: #e6e4e4;
}
.footerOuter div:last-child p {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  color: #e6e4e4;
}
